<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blockchain Client</title>
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/custom.css">

</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="navbar-client">Blockchain Client</a>

        <button class="navbar-toggle" id="navbar-toggle">
            ☰
        </button>

        <div class="collapse" id="navbar-collapse">
            <ul class="nav">
                <li class="item">
                    <a href="/" class="nav-link">Wallet Generator</a>
                </li>
                <li class="item">
                    <a href="/make/transaction" class="nav-link">Make Transaction</a>
                </li>
                <li class="item">
                    <a href="/view/transactions" class="nav-link">View Transactions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="container">
        <div class="row">
            <div class="center">
                <div class="wallet">
                    <h4 class="title">Wallet Generator</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <label class="pbkey">Public Key:</label>
          <div class="public">
      <input type="text" id="public_key" class="form-control" readonly>

          </div>
        </div>

        <br>

        <div class="row">
          <label class="prkey">Private Key:</label>
          <div class="private">
            <input type="text" id="private_key" class="form-control" readonly>

          </div>
        </div>

        <br>
<div>
      <p class="text">Click on the button below to generate your blockchain wallet</p>
      <input type="button" class="btn" value="Generate Wallet">
</div>

    </div>

  <script src="script.js"></script>
</body>
</html>