<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Transaction</title>
    <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="navbar-client">Blockchain Client</a>
        <button class="navbar-toggle" id="navbar-toggle">
            ☰
        </button>

        <div class="collapse" id="navbar-collapse">
            <ul class="nav">
                <li class="item">
                    <a href="/" class="nav-link">Wallet Generator</a>
                </li>
                <li class="item">
                    <a href="/make/transaction" class="nav-link">Make Transaction</a>
                </li>
                <li class="item">
                    <a href="/view/transactions" class="nav-link">View Transactions</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


  <div>
  <p>Enter a blockchain node URL and click on "View Transactions" button to check all transactions</p>
  <input type="text" id="node-url" placeholder="Enter Blockchain Node URL">
</div>
<div>  <button id="view-transactions-button">View Transactions</button></div>



    <br>
<div class="container">
  <table id="transactions_table"></table>
</div>







  <script src="script.js"></script>
</body>
</html>